h1 {
    color:aquamarine;
}
h1 {text-align: center;}


#first {color:red;}
#second {color:blue;} 
#third{color:green;}

#big {font-size: large;}
#tiny {font-size: small;}
#center {text-align: center;}
#bold {font-weight: bold;}
#font {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;}
#bob {font-weight: bold;color: orange;font-weight: bold;}

.styledFont {font-size: xx-large;color: orchid;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight: bolder;}
#styledImage {border-style: double; color: mediumpurple;}